DATABASE_TYPE
DATABASE_USERNAME
DATABASE_DATABASE
DATABASE_HOST
DATABASE_PASSWORD
DATABASE_PORT
DATABASE_URL
DATABASE_AUTOLOADENTITIES
DATABASE_SYNCHRONIZE


JWT_AUDIENCE
JWT_ISSUER
JWT_TLL
JWT_SECRET